extends layout

block content

	div.content

	script(src='/static/javascripts/jquery-3.2.1.min.js')
	script(src='/static/javascripts/konva.min.js')
	script(src='/static/javascripts/vct-gameboard.js')
