extends layout

block content

	div(style='display: table; position: absolute; height: 100%; width: 100%;')
		div(style='display: table-cell; vertical-align: middle;')
			div(style='margin-left: auto; margin-right: auto; width: 25%;')
				panel.panel-primary
					div.panel-heading
						h4 VCT Register
					div.panel-body
						form.form-horizontal(method='POST' action='/register')
							fieldset
								div.form-group
									input#username.form-control(type='text', placeholder='User Name' name='username')
								div.form-group
									input#password.form-control(type='password', placeholder='Password' name='password')
								div.form-group
									input#password.form-control(type='password', placeholder='Confirm Password' name='confirm_password')
								button.btn.btn-primary.btn-md(type='submit') Register
